.singUpContainer {
  padding: 100px 30px 20px 30px;
  display: block;
  margin: 0 auto;
  width: 400px;
  & .mat-form-field{
    width: 100%;
  }
  & .actionContainer{
    display: flex;
    justify-content: flex-end;
    width: 300px;
  }
  & .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}