<mat-grid-list cols="1" rowHeight="100%" class="singUpContainer">
  <mat-card class="card">
    <mat-card-title color="primary">Sing Up</mat-card-title>
    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input #userName matInput type="text">
          </mat-form-field>
          <div class="actionContainer">
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out your email</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input #userEmail matInput type="email">
          </mat-form-field>
          <div class="actionContainer">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fill out your password</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input #userPass matInput type="password">
          </mat-form-field>
          <div class="actionContainer">
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirm password</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input #userConfirm matInput type="password">
            </mat-form-field>
            <div class="actionContainer">
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finish</ng-template>
          <div class="actionContainer">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button (click)="createUser(userName.value, userEmail.value, userPass.value, userConfirm.value)">Save</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/">Back</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>