<mat-grid-list cols="1" rowHeight="100%" class="loginContainer">
  <mat-card class="card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input #userEmail matInput type="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input #userPass matInput type="password" [formControl]="passFormControl" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="passFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="/singUp">Sing Up</a>
      <button [disabled]="!userEmail.value || !userPass.value" mat-raised-button color="primary" (click)="login(userName.value, userPass.value)">Sing In</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>