<mat-grid-list cols="1" rowHeight="100%" class="editContainer">
  <mat-card class="card">
    <mat-card-title>Editing - {{id}}</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" [errorStateMatcher]="matcher" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" [errorStateMatcher]="matcher" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="/dashboard">Back</a>
      <button mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>